@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto Condensed", sans-serif, Helvetica, Arial !important;
}

hr {
  height: 2px;
  border: none;
  background: #FFC668;
  margin: 3px 0;
}

.w10 {
  width: 10%;
}

.w30 {
  width: 30%;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.wauto {
  width: auto;
}

.minheight100 {
  min-height: 100vh;
}

.container-wrap {
  display: flex;
  flex-wrap: wrap;
}

.container-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.center {
  width: 90%;
  max-width: 1254px;
  margin: auto;
}

.al-ct {
  text-align: center;
}

.al-lf {
  text-align: left;
}

.al-rg {
  text-align: right;
}

.mg-auto {
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

.hidden {
  display: none;
}

.mostrar {
  display: flex;
}

.overhidden {
  overflow-y: hidden;
}

.btn {
  padding: 16px 32px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 4px;
  color: #424242;
  transition: all 0.5s ease;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
}
.btn:hover {
  background: #F0EEEE;
}
.btn:focus {
  background: #DEDCDC;
}
.btn img {
  width: 24px;
  margin-left: 36px;
}

.btn-verde {
  color: #424242;
  background-color: #01E88A;
  border: 1px solid #01E88A;
}

.btn-verde2 {
  color: #424242;
  background-color: #ffffff;
  border: 1px solid #01E88A;
}

.ir-arriba {
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: #FFC668;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  z-index: 20;
}
.ir-arriba:hover {
  box-shadow: 0px 0px 3px #181818;
}
.ir-arriba:hover .fa-chevron-up {
  font-weight: bold;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .container-modal {
  width: 586px;
  background-color: #ffffff;
  color: #0F0F0F;
  z-index: 200;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  position: relative;
  padding: 40px 100px;
}
.modal .container-modal .btn-closed {
  position: absolute;
  right: 20px;
  top: 20px;
}
.modal .container-modal .box-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #01E88A;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.modal .container-modal .box-image img {
  width: 24px;
}
.modal .container-modal .box-content {
  margin-bottom: 24px;
}
.modal .container-modal .box-content h3 {
  margin-bottom: 16px;
  line-height: 19px;
}
.modal .container-modal .box-footer {
  display: flex;
  flex-direction: column;
}
.modal .container-modal .box-footer .btn {
  width: 100%;
  display: block;
  margin-bottom: 12px;
  text-align: center;
}

.alert {
  width: 100%;
  height: auto;
}

.alert-success {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px 0;
}

.alert-danger {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px 0;
}

.navbarSlider {
  position: relative;
}
.navbarSlider .header {
  color: #ffffff;
  position: absolute;
  width: 100%;
  z-index: 100;
}
.navbarSlider .header .navbar {
  transition: all 0.5s ease;
  width: 90%;
  max-width: 1412px;
}
.navbarSlider .header .navbar .box-navbar {
  width: 100%;
  border: 1px solid #ffffff;
  border-top: none;
  display: flex;
  justify-content: center;
}
.navbarSlider .header .navbar .box-navbar .box-logo {
  transition: all 0.5s ease;
  width: 82px;
  padding: 16px;
  display: flex;
  align-items: flex-end;
}
.navbarSlider .header .navbar .box-navbar .box-logo .img-logo {
  width: 49.5px;
}
.navbarSlider .header .navbar .box-navbar .box-content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 82px);
  max-width: 1332px;
  border-left: 1px solid #ffffff;
}
.navbarSlider .header .navbar .box-navbar .box-content .box-content-top .box-empty {
  border: 1px solid #ffffff;
  border-top: none;
  border-left: none;
  width: calc(100% - 110px);
  height: 46px;
}
.navbarSlider .header .navbar .box-navbar .box-content .box-content-top .box-redes {
  width: 110px;
  border-bottom: 1px solid #ffffff;
  padding: 15px;
}
.navbarSlider .header .navbar .box-navbar .box-content .box-content-top .box-redes .icon-redes {
  width: 14px;
  margin-right: 12px;
}
.navbarSlider .header .navbar .box-navbar .box-content .navbar-list {
  padding: 16px 32px;
}
.navbarSlider .header .navbar .box-navbar .box-content .navbar-list .nav-link {
  padding: 10px;
  transition: all 1s ease;
  font-size: 12px;
  position: relative;
  color: #ffffff;
  letter-spacing: 4px;
  margin-right: 32px;
}
.navbarSlider .header .navbar .box-navbar .box-content .navbar-list .nav-link:after {
  content: " ";
  position: absolute;
  width: 0%;
  left: 50%;
  bottom: 0;
  height: 3px;
  background-color: #ffffff;
  transition: all 1s ease;
}
.navbarSlider .header .navbar .box-navbar .box-content .navbar-list .nav-link:hover:after {
  width: 100%;
  left: 0%;
}
.navbarSlider .header .toggle-button {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 150;
}
.navbarSlider .header .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}
@media (max-width: 769px) {
  .navbarSlider .header .navbar .navbar-list .nav-link {
    margin-right: 10px;
  }
}
.navbarSlider .slider {
  width: 100%;
  height: 100vh;
  outline: none;
  top: 0;
  overflow: hidden;
  position: relative;
  font-family: "Roboto Condensed";
}
.navbarSlider .slider .box-texto {
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbarSlider .slider .box-texto .text-banner-header {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 46px;
}
.navbarSlider .slider .box-texto .box-text-header {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 16px;
}
.navbarSlider .slider .box-texto .text {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 18px;
}
.navbarSlider .slider .box-texto .btn {
  margin-top: 32px;
  display: inline-flex;
  width: 187px;
}
.navbarSlider .slider .box-texto .btn img {
  display: inline-flex !important;
}

.nosotros_area {
  position: relative;
  background-color: #0F0F0F;
  color: #ffffff;
  padding-bottom: 40px;
}
.nosotros_area .box-left {
  position: absolute;
  top: -11%;
}
.nosotros_area .box-right {
  position: absolute;
  right: 0;
  top: -11%;
}
.nosotros_area .box-center {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
  width: 1244px;
  display: flex;
  gap: 40px;
}
.nosotros_area .box-center .card-nosotros {
  width: 281px;
  height: 153px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #1E1E1E;
  border-radius: 22px;
  padding: 16px;
}
.nosotros_area .box-center .card-nosotros .img-card {
  margin-bottom: 18px;
}
.nosotros_area .box-center .card-nosotros .text {
  display: flex;
  flex-direction: column;
  line-height: 28px;
  text-align: center;
}
.nosotros_area .box-container-nosotros {
  padding-top: 140px;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  transition: all 0.5s ease;
}
.nosotros_area .box-container-nosotros .box-text-nosotros {
  width: 100%;
  margin-right: 62px;
}
.nosotros_area .box-container-nosotros .box-text-nosotros .box-title {
  margin-bottom: 40px;
}
.nosotros_area .box-container-nosotros .box-text-nosotros .box-title .title {
  color: #FFC668;
  font-size: 28px;
  margin-top: 26px;
}
.nosotros_area .box-container-nosotros .box-text-nosotros .box-text {
  font-weight: 400;
}
.nosotros_area .box-container-nosotros .box-text-nosotros .box-text p {
  line-height: 16px;
  font-size: 14px;
  margin-bottom: 16px;
  text-align: justify;
}
.nosotros_area .box-container-nosotros .box-text-nosotros .box-number {
  gap: 24px;
}
.nosotros_area .box-container-nosotros .box-text-nosotros .box-number p {
  display: flex;
  flex-direction: column;
}
.nosotros_area .box-container-nosotros .box-text-nosotros .box-number p span {
  font-size: 40px;
}
.nosotros_area .box-container-nosotros .box-images-nosotros {
  position: relative;
  width: calc(100% - 578px);
  transition: all 0.5s ease;
}
.nosotros_area .box-container-nosotros .box-images-nosotros .box-images {
  display: flex;
  justify-content: flex-end;
  transition: all 0.5s ease;
}
.nosotros_area .box-container-nosotros .box-images-nosotros .box-images .img-float {
  position: absolute;
  left: -34px;
  top: 33px;
  width: 471px;
  height: 677px;
  transition: all 0.5s ease;
}
@media (max-width: 1450px) {
  .nosotros_area .box-center {
    top: -4%;
    transform: translateX(-37%);
  }
  .nosotros_area .box-center .card-nosotros {
    width: 200px;
  }
  .nosotros_area .box-left, .nosotros_area .box-right {
    top: -9%;
  }
}
@media (min-width: 1201px) {
  .nosotros_area .box-container-nosotros .box-text-nosotros {
    max-width: 516px;
  }
  .nosotros_area .box-container-nosotros .box-images-nosotros, .nosotros_area .box-container-nosotros .box-text-nosotros {
    width: auto;
    transition: all 0.5s ease;
  }
}
@media (max-width: 1200px) {
  .nosotros_area .box-center {
    top: -3%;
    transform: translateX(-30%);
  }
  .nosotros_area .box-center .card-nosotros {
    width: 160px;
  }
  .nosotros_area .box-left, .nosotros_area .box-right {
    top: -7%;
  }
  .nosotros_area .box-container-nosotros .box-text-nosotros {
    margin-right: 0;
  }
  .nosotros_area .box-container-nosotros .box-images-nosotros, .nosotros_area .box-container-nosotros .box-text-nosotros {
    width: 100%;
    padding-top: 30px;
  }
  .nosotros_area .box-container-nosotros .box-images-nosotros {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 780px) {
  .nosotros_area .box-center {
    display: none;
  }
  .nosotros_area .box-container-nosotros .box-images-nosotros {
    width: 100%;
  }
}
.nosotros_area .box-container-expertos .box-title {
  margin-bottom: 40px;
  width: 240px;
}
.nosotros_area .box-container-expertos .box-title .title {
  color: #FFC668;
  font-size: 28px;
  margin-bottom: 26px;
}
.nosotros_area .box-container-expertos .box-text-expertos {
  gap: 229px;
}
.nosotros_area .box-container-expertos .box-text-expertos .item-expertos {
  width: 260px;
  height: 430px;
  display: flex;
  transition: all 0.5s ease;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;
}
.nosotros_area .box-container-expertos .box-text-expertos .item-expertos .text {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.nosotros_area .box-container-expertos .box-text-expertos .item-expertos .box-image {
  display: flex;
  justify-content: center;
}
.nosotros_area .box-container-expertos .box-text-expertos .item-expertos .box-image img {
  width: 206px;
}
.nosotros_area .box-container-expertos .box-text-expertos .item-expertos .text-footer {
  text-align: center;
}
@media (max-width: 1400px) {
  .nosotros_area .box-container-expertos .box-text-expertos {
    gap: 30px;
  }
  .nosotros_area .box-container-expertos .box-text-expertos .item-expertos {
    width: 30%;
  }
}
@media (max-width: 1100px) {
  .nosotros_area .box-container-expertos .box-text-expertos {
    gap: 30px;
  }
  .nosotros_area .box-container-expertos .box-text-expertos .item-expertos {
    width: 46%;
  }
}
@media (max-width: 780px) {
  .nosotros_area .box-container-expertos .box-text-expertos {
    gap: 50px;
  }
  .nosotros_area .box-container-expertos .box-text-expertos .item-expertos {
    width: 100%;
  }
}

.carta_area {
  background-color: #181818;
  color: #ffffff;
  padding: 80px;
}
.carta_area .box-title {
  margin-bottom: 40px;
  width: 240px;
}
.carta_area .box-title .title {
  color: #FFC668;
  font-size: 28px;
  margin-top: 26px;
}
.carta_area .text {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 40px;
}
.carta_area .box-container-carta .item-carta {
  transition: all 0.5s ease;
}
.carta_area .box-container-carta .item-carta .box-title {
  width: 100%;
}
.carta_area .box-container-carta .item-carta .text {
  margin-bottom: 24px;
}
.carta_area .box-container-carta .colum-left {
  display: flex;
}
.carta_area .box-container-carta .colum-right {
  padding: 45px 100px;
  padding-right: 0px;
}
@media (max-width: 1400px) {
  .carta_area .box-container-carta .colum-right {
    padding: 0 0 0 100px;
  }
}
@media (max-width: 1200px) {
  .carta_area .box-container-carta .colum-right {
    padding: 0 0 0 40px;
  }
}
@media (max-width: 800px) {
  .carta_area {
    padding: 80px 0;
  }
  .carta_area .box-container-carta .item-carta {
    width: 100%;
  }
  .carta_area .box-container-carta .colum-right {
    padding-top: 40px;
  }
}

.carta_area_banner .box-carta {
  width: 25%;
  background: rgba(0, 0, 0, 0.95);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.carta_area_banner .box-carta .box-img-social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.carta_area_banner .box-carta .box-img-social img {
  opacity: 1;
  transition: opacity 0.35s;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carta_area_banner .box-carta .box-img-social .box-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carta_area_banner .box-carta .box-img-social .box-hover h2, .carta_area_banner .box-carta .box-img-social .box-hover img {
  margin: 0 0 5px;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
}
.carta_area_banner .box-carta .box-img-social .box-hover h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 32px;
  line-height: 37.5px;
  transform: translate3d(0%, 50%, 0);
  transition-delay: 0.3s;
}
.carta_area_banner .box-carta .box-img-social .box-hover a {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.carta_area_banner .box-carta .box-img-social .box-hover a img {
  width: 24px;
}
.carta_area_banner .box-carta .box-img-social .box-hover:before {
  position: absolute;
  top: 50%;
  right: 30px;
  bottom: 50%;
  left: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  content: "";
  opacity: 0;
  transition: all 0.4s;
  transition-delay: 0.6s;
}
.carta_area_banner .box-carta .box-img-social:hover img {
  opacity: 0.15;
  transition: all 0.3s linear;
  transform: scale(1.15);
}
.carta_area_banner .box-carta .box-img-social:hover .box-hover h2, .carta_area_banner .box-carta img {
  opacity: 1;
  transform: translate3d(0%, 0%, 0);
  transition-delay: 0.3s;
}
.carta_area_banner .box-carta .box-img-social:hover .box-hover a img {
  opacity: 0.9;
  transition-delay: 0.6s;
}
.carta_area_banner .box-carta .box-img-social:hover .box-hover::before {
  background: rgba(0, 0, 0, 0.5);
  top: 30px;
  bottom: 30px;
  opacity: 1;
  transition-delay: 0s;
}
@media (max-width: 800px) {
  .carta_area_banner .box-carta {
    width: 50%;
  }
}

.reservas_area {
  background-color: #0F0F0F;
  color: #ffffff;
  padding: 80px 0;
}
.reservas_area .box-title {
  margin-bottom: 40px;
}
.reservas_area .box-title .title {
  color: #FFC668;
  font-size: 28px;
  margin-top: 26px;
}
.reservas_area .box-container-reservas .img-reserva {
  width: 600px;
  transition: all 0.5s ease;
}
.reservas_area .box-container-reservas .box-text .box-container-text {
  padding-left: 100px;
  width: 516px;
  transition: all 0.5s ease;
}
.reservas_area .box-container-reservas .box-text .box-container-text .text {
  margin-bottom: 40px;
}
@media (max-width: 1290px) {
  .reservas_area .box-container-reservas .img-reserva, .reservas_area .box-container-reservas .box-text {
    width: 50%;
  }
  .reservas_area .box-container-reservas .box-text .box-container-text {
    padding-left: 20px;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .reservas_area .box-container-reservas .img-reserva, .reservas_area .box-container-reservas .box-text {
    width: 100%;
  }
  .reservas_area .box-container-reservas .box-text .box-container-text {
    padding-left: 0px;
    width: 100%;
  }
}

.reservas_banner {
  color: #ffffff;
  padding: 80px 0;
  background: url("../images/bookings-banner.svg");
}
.reservas_banner .box-container-text {
  width: 635px;
}
.reservas_banner .box-container-text .text {
  font-size: 56px;
  line-height: 65px;
  margin-bottom: 40px;
}

.reserva_section {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-top: 165px;
  padding-bottom: 50px;
  background: url("../images/background-header.svg");
}
.reserva_section .box-reserva-form {
  background-color: #181818;
  color: #ffffff;
  padding: 60px;
}
.reserva_section .box-reserva-form .title {
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 25px;
}
.reserva_section .box-reserva-form .form-reserva {
  display: flex;
  gap: 25px;
}
.reserva_section .box-reserva-form .form-reserva .colum-left {
  width: 570px;
  padding: 60px;
  background-color: #222222;
  transition: all 0.5s ease;
}
.reserva_section .box-reserva-form .form-reserva .colum-left .calendar-container {
  width: 450px;
  transition: all 0.2s linear;
  margin: auto;
  text-align: center;
}
.reserva_section .box-reserva-form .form-reserva .colum-left .calendar-container .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  padding: 0 10px;
}
.reserva_section .box-reserva-form .form-reserva .colum-left .calendar-container .calendar-header .title-month {
  letter-spacing: 4px;
}
.reserva_section .box-reserva-form .form-reserva .colum-left .calendar-container .calendar {
  width: 100%;
}
.reserva_section .box-reserva-form .form-reserva .colum-left .calendar-container .calendar th {
  color: white;
}
.reserva_section .box-reserva-form .form-reserva .colum-left .calendar-container .calendar td {
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.5s ease;
  height: 40px;
}
.reserva_section .box-reserva-form .form-reserva .colum-left .calendar-container .calendar td:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #0F0F0F;
}
.reserva_section .box-reserva-form .form-reserva .colum-left .calendar-container .bg-info {
  background-color: #f0f0f0;
  color: #0F0F0F;
}
.reserva_section .box-reserva-form .form-reserva .colum-right {
  gap: 24px;
  padding-left: 51px;
  transition: all 0.5s ease;
  transition-delay: 0.1s;
}
.reserva_section .box-reserva-form .form-reserva .colum-right .box-field {
  width: 47%;
  transition: all 0.5s ease;
}
.reserva_section .box-reserva-form .form-reserva .colum-right .box-desc {
  width: 100%;
}
.reserva_section .box-reserva-form .form-reserva .colum-right .box-desc label {
  display: block;
  padding: 10px 0;
}
.reserva_section .box-reserva-form .form-reserva input, .reserva_section .box-reserva-form .form-reserva select, .reserva_section .box-reserva-form .form-reserva textarea {
  width: 100%;
  padding: 10px 12px;
  border-radius: 4px;
  border-color: #ffffff;
  outline: none;
}
.reserva_section .box-reserva-form .form-reserva textarea {
  resize: none;
}
@media (max-width: 1320px) {
  .reserva_section .box-reserva-form .form-reserva .colum-left {
    padding: 20px;
  }
  .reserva_section .box-reserva-form .form-reserva .colum-right {
    padding-left: 20px;
  }
}
@media (max-width: 1190px) {
  .reserva_section .box-reserva-form .form-reserva .colum-right .box-field {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .reserva_section .box-reserva-form .form-reserva .colum-left {
    width: 50%;
  }
  .reserva_section .box-reserva-form .form-reserva .colum-left .calendar-container {
    width: 100%;
    min-width: 300px;
  }
}
@media (max-width: 900px) {
  .reserva_section .box-reserva-form .form-reserva {
    flex-wrap: wrap;
  }
  .reserva_section .box-reserva-form .form-reserva .colum-left, .reserva_section .box-reserva-form .form-reserva .colum-right {
    width: 100%;
  }
}

.footer_area {
  background-color: #181818;
  color: #ffffff;
  padding: 100px 150px;
}
.footer_area .container-footer {
  display: flex;
  gap: 80px;
}
.footer_area .container-footer .item-footer {
  transition: all 0.5s ease;
}
.footer_area .container-footer .item-footer h2 {
  font-weight: 700;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 28px;
}
.footer_area .container-footer .item-footer .list-footer li {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 18px;
}
.footer_area .container-footer .item-footer .footer-form {
  display: flex;
  max-width: 525px;
  margin-bottom: 26px;
}
.footer_area .container-footer .item-footer .footer-form input {
  padding: 12px;
  border: 4px;
  font-size: 12px;
  line-height: 14px;
  width: 100%;
}
.footer_area .container-footer .item-footer .footer-form .btn {
  padding: 10px 35px;
  border-radius: 0 4px 4px 0;
}
.footer_area .container-footer .item-footer .box-redes {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
.footer_area .container-footer .item-footer .box-redes .item-redes {
  display: block;
  background-color: #ffffff;
  padding: 10px;
  width: 44px;
  height: 44px;
  border-radius: 12px;
}
.footer_area .container-footer .item-footer .box-redes .item-redes img {
  width: 24px;
}
@media (max-width: 1550px) {
  .footer_area .container-footer {
    gap: 40px;
  }
}
@media (max-width: 1200px) {
  .footer_area .container-footer {
    flex-wrap: wrap;
  }
  .footer_area .container-footer .item-footer {
    width: 50%;
  }
  .footer_area .container-footer .item-footer .footer-form, .footer_area .container-footer .item-footer .box-redes {
    width: 50%;
  }
}
@media (max-width: 780px) {
  .footer_area .container-footer .item-footer {
    width: 100%;
  }
  .footer_area .container-footer .item-footer .footer-form, .footer_area .container-footer .item-footer .box-redes {
    width: 100%;
  }
}/*# sourceMappingURL=dtinto.css.map */